
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {

    background-color: floralwhite;

}

.max-width-container {
    max-width: 1100px;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20vh;
    position: relative;
    border-bottom: 1px solid black;
    background-color: #809BCE;
}

.main-heading-container {
    display: flex;
    margin: auto;
}

.header-main-heading {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 5rem;
    color: black;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;
    margin-top: 1rem;
    background-color: #F2F8F4;

}

.main-container {
    width: 100%;
}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    align-content: flex-start;
    min-height: 85vh;
    padding: 2rem;
    gap: 1.5rem;
    background-color: #D6EADF;
}



.modal-book-outer-container {
    margin: 1rem auto;
    padding-top: 1rem;
    border-top: 1px solid black;
}

.modal-book-inner-container {
    display: flex;
    margin-top: 1.5rem;
}

.modal-book-page-count {
    font-style: italic;
    text-align: left;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.modal-book-authors {
    font-size: 1rem;
}

.modal-book-desc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.modal-book-add-btn {
    margin: auto;
}

.book-item-container {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    border-radius: 10px;
    transition: all 2s;
}

.book-lower-div {
    height: 220px;
}

.book-item-cover {
    height: 100px;
}

.book-item-delete-btn{
    font-size: 1.75rem;
    position: absolute;
    top: 3px;
    right: 3px;
    color: black;
    background-color:white;
    padding: 0.25rem 0.35rem;
    border-radius: 20px;
}

.book-item-delete-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.status-btn {
    border-top-left-radius: 8px;
    border-bottom-right-radius:8px;
    border: none;
    padding: 0.25rem 0.5rem;
}

.status-not-read {
    background-color: tomato;

}

.status-read {
    background-color: lightgreen;
}

.status-in-progress {
    background-color: purple;
}

.hide {
    visibility: hidden;
}

.book-btn-container {
    height: 5rem;
}

.book-details {
    pointer-events: none;
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

nav {
    margin: auto;
}

.google-login-btn {
 height: 40px;
 width: 125px;
 margin-left: 0.25rem;
 background-color: #DFA5BF;
 border: none;
}

.google-login-btn:hover {
    background-color: #D996B4;
}

.search-books-collapse-btn {
    height: 40px;
    width: 125px;
    margin-right: 0.25rem;
    background-color: #DFA5BF;
    border: none;
}

.search-books-collapse-btn:hover {
    background-color: #D996B4;
}

.description-outer-container {
    max-width: 1200px;
    background-color: #D6EADF;
    padding: 2rem 0rem;
}

.description-inner-container {
    width: 80vw;
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    background-color: #F2F8F4;
    border: 1px solid black;
    border-radius: 1rem;
    
}

.logo-image {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 75px;
    height: 75px;
}

.modal-lg {
    width: 600px;
}

.book-form-input {
    height: 35px;
    width: 100%;
}

.search-btn {
    height: 40px;
    width: 125px;
    margin-left: 0.25rem;
    background-color: #DFA5BF;
    border: none;
   }
   
   .search-btn:hover {
       background-color: #D996B4;
   }
