
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header-container {
    height: 15vh;
    position: relative;
    border-bottom: 2px solid black;
    background-color: lightgoldenrodyellow;
}

.header-main-heading {
    font-family: 'Lobster', cursive;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    top: 15vh;
    z-index: 3;
}

.main-container {
    width: 100%;
}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-content: center;
    align-content: flex-start;
    height: 85vh;
    padding: 2rem;
    gap: 1.5rem;
}

.search-books-collapse-btn {
    position: absolute;
    bottom: 3px;
}

.modal-book-outer-container {
    margin: 1rem auto;
    padding-top: 1rem;
    border-top: 1px solid black;
}

.modal-book-inner-container {
    display: flex;
    margin-top: 1.5rem;
}

.modal-book-page-count {
    font-style: italic;
    text-align: left;
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

.modal-book-authors {
    font-size: 1rem;
}

.modal-book-desc-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.modal-book-add-btn {
    margin: auto;
}

.book-item-container {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    border-radius: 10px;
    transition: all 2s;

}

/* .book-cover-container:hover {
    background-image:none !important;
    background-color: white;
    cursor: pointer;
} */

.book-lower-div {
    height: 220px;
}

.book-item-cover {
    height: 100px;
}

.book-item-delete-btn{
    font-size: 1.75rem;
    position: absolute;
    top: 3px;
    right: 3px;
    color: black;
    background-color:white;
    padding: 0.25rem 0.35rem;
    border-radius: 20px;
}

.book-item-delete-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.status-btn {
    border-top-left-radius: 8px;
    border: none;
    padding: 0.25rem 0.5rem;
}

.status-not-read {
    background-color: tomato;

}

.status-read {
    background-color: lightgreen;
}

.hide {
    visibility: hidden;
}

.book-btn-container {
    height: 5rem;
}

.book-details {
    pointer-events: none;
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

.google-login-btn {
 position: absolute;
 right: 0px;
 top: 5px;
}